<div class= "testimonials">
    <h2>Here is what our Prograds have to Say</h2>
    <div class="container">
        <article>
          
          <p class="name"> <span> HARISH PARUCHURI, FSD0A0221</span> </p>
          <p>In my academics, I learnt only theoretical concepts of programming but ProGrad emphasized my coding knowledge by teaching me a different approach in solving all the coding problems. My menter offered me excellent support by guiding us on each step to improve my progress.</p>
        </article>
        <hr>
        <article class="art">
        
          <p class="name"><span >SAINADH, FSD0B0001</span></p>
          <p>ProGrad not only helped me in utilizing my knowledge to the best of my capabilities but also nurtured my technical skills and competencies.
          </p>
        </article>
     
    </div>